<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>

    <title>Eat the Burger</title>
</head>

<body>
    {{{ body }}}
</body>

</html>